.links-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.connect-btn {
	background: transparent;
	border: solid 2px;
	border-radius: 50px;
	font-size: 18px;
	padding: 12px 20px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.connect-btn:hover {
	cursor: pointer;
	border-color: #faf9f6;
	color: #faf9f6;
	transition: 0.3s;
}

.delay1s {
	animation-delay: 2s;
}

.fab:hover path {
	fill: #faf9f6;
}

.header {
	align-items: center;
	background: rgb(255, 161, 213);
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	position: sticky;
	top: 0;
	z-index: 3;
	transition-duration: 0.2s;
}

.header.shadow {
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	padding: 0px 50px;
}

.header svg {
	width: 39px;
}

.header svg:hover {
	cursor: pointer;
}

.link {
	font-size: 24px;
	margin-right: 36px;
	display: flex;
}

.links {
	display: flex;
	align-items: center;
}

.my-blobs {
	font-size: 24px;
	font-family: "Lobster";
}

.my-blobs:hover {
	color: #faf9f6;
}
@media only screen and (max-width: 768px) {
	.connect-btn {
		border: solid thin #faf9f6;
		border-radius: 50px;
		font-size: 14px;
		padding: 10px;
		text-align: center;
		max-width: 240px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.header {
		padding: 0px 20px;
	}

	.header.shadow {
		padding: 0px 20px;
	}

	.header svg {
		width: 25px;
	}

	.link {
		display: flex;
		font-size: 18px;
		margin-right: 20px;
	}

	.my-blobs {
		font-size: 12px;
	}

	.links {
		display: flex;
	}
}
