.count-btn {
	background: transparent;
	border: solid thin transparent;
	font-size: 42px;
	color: black;
	transition: 0.1s;
}

.count-btn:hover {
	color: rgba(255, 161, 213, 0.75);
	cursor: pointer;
}

.count-btn:disabled {
	color: black;
	cursor: default;
}
.count-btn:hover:disabled {
	color: black;
}

.count-btn-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mint-btn {
	background: rgb(255, 161, 213);
	border: solid thick black;
	border-radius: 4vw;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
	transform: translateY(-2px);
	color: black;
	font-size: 50px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	margin-right: 20px;
	transition: all 0.3s ease;
}

.mint-btn:disabled {
	color: gray;
	border-color: gray;
	box-shadow: none;
	transform: none;
}

.mint-btn:disabled:hover {
	transform: none;
	box-shadow: none;
}

.mint-btn:hover {
	box-shadow: 0px 6px 5px 0px rgb(0, 0, 0, 0.4);
	background: rgba(255, 161, 213, 0.75);
	transform: translateY(-4px);
	cursor: pointer;
	transition: all 0.2s ease;
}

.mint-btn:active {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
	transform: translateY(-3px);
	transition: all 0.1s;
	cursor: pointer;
}

.mint-btn-wrapper {
	display: flex;
	text-align: center;
	align-items: center;
	margin: auto;
	/* animation: fadeIn 0.7s 2.6s forwards; */
}

/* @media only screen and (max-width: 1440px) {
	.mint-btn {
		font-size: 40px;
	}
} */

@media only screen and (max-width: 1200px) {
	.mint-btn {
		font-size: 40px;
	}
}

@media only screen and (max-width: 768px) {
	.count-btn {
		font-size: 22px;
	}
	.count-btn:hover {
		color: unset;
	}

	.mint-btn {
		border: solid thin transparent;
		border-radius: 50px;
		width: 100%;
		font-size: 20px;
		box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, 0.4);
		cursor: pointer;
		transition: all 0.2s ease;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.mint-btn:active,
	.mint-btn:disabled,
	.mint-btn:disabled:hover {
		box-shadow: 0px 4px 5px 0px rgb(0, 0, 0, 0.4);
		transform: none;
		border-color: transparent;
	}

	.mint-btn-wrapper {
		margin-top: 18px;
		margin-bottom: 50px;
	}
}
